[Unit]
Description=Segelflug.de Kleinanzeigen Bot
Wants=network.target
After=syslog.target network-online.target

[Service]
Restart=on-failure
RestartSec=10
KillMode=process
User=pi
Type=simple
ExecStart=/home/pi/segelflug-classifieds-bot/segelflug-classifieds --watch
WorkingDirectory=/home/pi/segelflug-classifieds-bot/
# Environment="SENTRY_DSN=FILLME"
# Environment="TELEGRAM_TOKEN=FILLME"
Environment="RUST_LOG=segelflug_classifieds=info"

[Install]
WantedBy=multi-user.target
