name: Build and Deploy

on:
  # run if manually triggered
  workflow_dispatch:

  # run if something on the `main` branch changes
  push:
    branches:
      - main

concurrency:
  group: run
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  # renovate: datasource=crate depName=cross versioning=semver
  CROSS_VERSION: 0.2.5
  TARGET_ARCH: armv7-unknown-linux-musleabihf

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

      - run: cargo install cross --vers ${{ env.CROSS_VERSION }}
      - run: cross build --release --target=${TARGET_ARCH}

      - run: |
          mkdir -p ./dist/${TARGET_ARCH}/
          cp ./target/${TARGET_ARCH}/release/segelflug-classifieds ./dist/${TARGET_ARCH}/segelflug-classifieds

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ./dist

  deploy:
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5